
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(36, 38, 82);
    position: fixed;
    z-index: 1000;
    width: 100%;
}


.logo img {
    justify-content: flex-start;
    border: 2px solid gray;
    height: 80px;
    border-radius: 50px;
    align-items: end;
}

.navList ul{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 40px;
}

.navList a{
    text-decoration: none;
    color: white;
}

.log {
    font-size: xx-large;
    font-style: italic;
}

.reg {
    font-size: xx-large;
    padding-left: 50px;
    font-style: italic;
}

.nav-Items {
    align-content: center;
    justify-content: center;
    left: 40%;
    padding-right: 40px;
    font-size: 20px;
}

.Main-body {
    position: relative;
    display: inline-block;
}

.image1 {
    width: 100%;
    height: auto;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* mid-body */

.general-package {
    background-color: white;
    padding: 20px;
    overflow: hidden;

}

.package-category {
    display: flex;
    font-size: large;
    font-style: italic;
    justify-content: center;
}

.plan-category {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 5px;
    margin: 20px;
    gap: 10px;
    width: 100%;
}

.basic {
    border: 2px solid rgba(27, 25, 134, 0.74);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    width: 250px;
    height: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.basic img{
    height: 150px;
    border-radius: 20px;
}

.basic h3 {
    padding: 0;
    margin: 0;
    align-self: center;
}

.basic button {
    padding: 5px;
    margin: 1px;
    background-color: green;
    color: white;
    border-radius: 20px;
    border: 2px solid rgb(14, 145, 44);
    cursor: pointer;
    font-weight: 800;
}


.family {
    border: 2px solid rgba(27, 25, 134, 0.74);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    width: 250px;
    height: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.family img {
    height: 150px;
    border-radius: 20px;
}

.family h3 {
    padding: 0;
    margin: 0;
    align-self: center;
}

.family button {
    padding: 5px;
    margin: 1px;
    background-color: green;
    color: white;
    border-radius: 20px;
    border: 2px solid rgb(14, 145, 44);
    cursor: pointer;
    font-weight: 800;
}

.group {
    border: 2px solid rgba(27, 25, 134, 0.74);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    width: 250px;
    height: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.group img {
    height: 150px;
    width: 230px;
    border-radius: 20px;
}

.group h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
}

.group button {
    padding: 5px;
    background-color: green;
    color: white;
    border-radius: 20px;
    border: 2px solid rgb(14, 145, 44);
    cursor: pointer;
    font-weight: 800;
}

.pro-athlete {
    border: 2px solid rgba(27, 25, 134, 0.74);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    width: 250px;
    height: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pro-athlete img {
    height: 150px;
    width: 250px;
    border-radius: 20px;
}

.pro-athlete h3 {
    padding: 0;
    margin: 0;
}

.pro-athlete button {
    padding: 5px;
    margin: 1px;
    background-color: green;
    color: white;
    border-radius: 20px;
    border: 2px solid rgb(14, 145, 44);
    cursor: pointer;
    font-weight: 800;
}

.special {
    border: 2px solid rgba(27, 25, 134, 0.74);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    width: 250px;
    height: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.special img {
    height: 140px;
    border-radius: 20px;
}

.special h3 {
    padding: 0;
    margin: 0;
    align-self: center;
}

.special button {
    padding: 5px;
    background-color: green;
    color: white;
    border-radius: 20px;
    border: 2px solid rgb(14, 145, 44);
    cursor: pointer;
    font-weight: 800;
}


.aged {
    border: 2px solid rgba(27, 25, 134, 0.74);
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    align-items: center;
    width: 250px;
    height: 250px;
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.aged img {
    height: 140px;
    border-radius: 20px;
}

.aged h3 {
    padding: 0;
    margin: 0;
    align-self: center;
}

.aged button {
    padding: 5px;
    margin: 5px;
    background-color: green;
    color: rgb(255, 251, 251);
    border-radius: 20px;
    border: 2px solid rgb(14, 145, 44);
    cursor: pointer;
    font-weight: 800;
}


/* Footer */

.bottomcontainer {
    width: 100%;
    background: rgb(36, 38, 82);
    padding-top: 5rem;
    margin-top: 2rem;
    border-radius: 2rem 2rem 0 0;
}

.register {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    background: #0e69aa;
    padding: 3.2rem;
    gap: 2rem;
    border-radius: 1.6rem;
}

.register h1 {
    width: 40%;
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
}

.register .sign {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: white;
    padding: 1rem;
    border-radius: 1rem;
}

.register input {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: 0.1rem solid gray;
    outline: none;
}

.register button {
    width: 20rem;
    background: #003459;
    color: white;
    border: none;
    border-radius: 0.8rem;
    padding: 1.4rem 2.8rem 1rem;
    cursor: pointer;
}

.media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 25vh;
    border-bottom: 1px solid rgb(252, 252, 252);

}

.medialinks {
    display: flex;
    gap: 6rem;
}

.medialink a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: #dae3e7;
    margin: 1.8rem;
}

.mediaimg {
    display: flex;
    align-items: center;
    gap: 4rem;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 2rem 0;
}

.footerlink {
    display: flex;
    gap: 3rem;
}

footer p {
    font-weight: 500;
    font-size: 1.4rem;
    color: #ffffff;
}

.footerlink a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.4rem;
}